.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 10%;
}

h1 {
    font-size: 60px;
    line-height: 0;
}

h2 {
    font-size: 20px;
    line-height: 0;
    font-weight: 300;
}

h3 {
    font-size: 15px;
    font-weight: 300;
    line-height: 0;
}

.bold {
    font-weight: 600;
}

.red {
    color:#fe2c55;
}
  
p {
    color: grey;
    font-size: 12px;
    line-height: 0;
}

hr { 
    display: block; 
    height: 1px;
    border: 0; 
    border-top: 1px solid rgb(227,227,228);
}


.upload-container .section {
    margin: 0;
    width: 100px;
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.section {
    display: flex;
    flex-direction: row;
    margin: 0;
    align-items: center;
}

.break {
    height: 10px;
}

/* header design */
.header {
    height: 60px;
    border-bottom: solid 1px rgb(227,227,228);
    display: flex;
    flex-direction: row;
    padding: 0px 10%;
    justify-content: space-between;
}
.logo {
    width: 129px;
    height: 40px;
    background-image: url('https://i.imgur.com/ZZ75Unh.png');
    background-size: 129px;
    margin: 5px;
}

.upload {
    width: 30px;
    height: 25px;
    margin-top: 15px;
    background-image: url('https://i.imgur.com/0MtQ9RF.png');
    background-size: 30px;
}

.personal {
    width: 40px;
    height: 40px;
    background-color: purple;
    border-radius: 20px;
}

/* sidebar design*/

.left-sidebar {
  width: 340px;
  height: 100%;
}

.menu-section {
  display: flex;
  flex-direction: row;
  margin: 30px 0 0px 0;
}

.menu a {
  text-decoration: none;
  display: flex;
}

.feeds{
  width: calc(100% - 440px);
}

.suggested-box {
    min-width: 320px;
    height: 600px;
    padding: 10px;
}

.suggested {
    width: 280px;
    height: 350px;
    border: 1px solid rgb(227,227,228);
    border-radius: 10px;
    padding: 20px 15px;
}
  

/* Styling for Upload Page */
.upload-page {
    margin-left: 30px;
}

.image-upload {
    width: 400px;
    height: 230px;
    background-color: rgb(22,24,35,0.03);
    border-radius: 10px;
}

.input-section {
    margin: 10px;
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-section {
    margin-left: 20px;
    margin-top: 60px;
}

label {
    font-size: 40px;
    line-height: 0; 
}

input {
    height: 45px;
    width: 500px;
    font-size: 35px;
    margin-top: -20px;
}

button {
    height: 30px;
    width: 100px;
    float: right;
}


/* Styling for Card Components */
.card {
    border-bottom: 1px solid rgb(227,227,228);
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.minicard {
    margin: 10px 0 0 0;
    justify-content: space-between;
}

.microcard {
    margin: 10px 0 0 0;
}

.user-profile {
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 25px;
    margin-right: 15px;
}

.social-tag {
    margin: 5px 10px 0px 10px;
    font-family: proxima-semibold, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 600;
    display: inline-block;
    line-height: 17px;
    text-align: center;
    color: rgba(22, 24, 35, 0.75);
    font-size: 13px !important;
    padding: 0px 7px 0px 8px !important;
}
.vediosection {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 63px;
}

.video {
    width: 270px;
    border-radius: 15px;
    height: 490px;
    background: radial-gradient(black, transparent);
}

.user-info {
    display: flex;
    flex-direction: row;
    width: 412px;
    align-items: center;
}

.username {
    margin-left: 10px;
    margin-right: 10px;
}

.socials {
    
    margin-left: 0px;
    position: absolute;
    bottom: 30px;
    right: 104px;
    flex-direction: column;
    justify-content: center;
}

.socials-block{
    position: relative;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    width: 48px;
    font-size: 13px;
}

.socials-block-circle{
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 8px;
    background-color: rgba(22, 24, 35, 0.06);
    padding: 12px;
    border-radius: 100%;
    margin-left: 0px;
    cursor: pointer;
}

.follow-button {
    border: 1px solid #fe2c55;
    border-radius: 3px;
    width: 88px;
    height: 16px;
    color: #fe2c55;
    font-weight: 600;
    padding: 2px 0 3px;
    text-align: center;
    font-size: 14px;
}

.followed-button {
    border: 1px solid rgb(227,227,228);
    border-radius: 3px;
    width: 88px;
    height: 16px;
    font-weight: 600;
    padding: 2px 0 3px;
    text-align: center;
    font-size: 14px;
}


/* Styling for FollowersColumn Component */
.followers-column {
    min-width: 230px;
    padding: 10px;
    text-align: left;
}

.followers-column .title {
  font-family: "proxima-semibold",Arial,Tahoma,PingFangSC,sans-serif;
  font-weight: 600;
  padding: 8px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
}

.followers-section {
    display: flex;
    flex-direction: row;
    margin: 30px 0 30px 0;
}

.home {
    width: 30px;
    height: 29px;
    background-image: url('https://i.imgur.com/Q582Dp0.png');
    background-size: 30px;
    margin-right: 15px;
}

.following {
    width: 30px;
    height: 29px;
    background-image: url('https://i.imgur.com/Aq7L3jv.png');
    background-size: 30px;
    margin-right: 15px;
}

.profile {
  justify-content: space-around;
}

.profile .user-profile-block{
  display: flex;
  flex-direction: column;
  width: calc(100% - 340px);
}

.profile-microcard {
    text-align: left;
    margin-top: 20px;
}

.profile-microcard img {

    width: 113px;
    height: 113px;
    border-radius: 100%;
}

.profile-microcard h3 {
    font-family: sofiapro-bold, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1px;
    padding-bottom: 4px;
}

.profile-microcard p {
    font-family: sofiapro-semibold, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-overflow: ellipsis;
    height: 25px;
    overflow: hidden;
    max-width: 450px;
    white-space: nowrap;
}

.profile .count-infos{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 22px;
    color: rgba(18, 18, 18, 0.75);
}

.profile .count-infos .number{
    font-family: sofiapro-semibold, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    -webkit-box-align: baseline;
    align-items: baseline;
    direction: ltr;
}

.profile .count-infos .number:not(:last-child) {
    margin-right: 20px;
}

.profile .count-infos .unit{
    display: inline-block;
    font-family: proxima-regular, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-left: 6px;
}

.profile .videos-block {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    height: 44px;
    margin-bottom: 2px;
}

.profile .videos-block p{
    flex: 1 1 0%;
    position: relative;
    cursor: pointer;
    font-family: sofiapro-semibold, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: rgba(18, 18, 18, 0.5);
}

.profile .videos-block p.active{
    color: rgb(18, 18, 18);
}

.profile .videos-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.profile .profile-vedio{
    width: 190px;
    border-radius: 15px;
    height: 260px;
    margin-left: 10px;
    margin-bottom: 10px;
    background: radial-gradient(black, transparent);
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
